<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>#6 - v-model .</title>
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div class="wrapper">
      <div id="app">
        <!-- v-model  can dinamic bind data and UI -->
        <input type="checkbox" v-model="show" />
        <input type="text" v-model="title" />
        <input type="text" v-model="imgUrl" />

        <br />

        <div v-if="show" class="img__wrapper">
          <img
            @click="changeImg"
            v-bind:src="imgUrl"
            :alt="title"
            :title="title"
          />
        </div>
      </div>
    </div>

    <script>
      const App = {
        data() {
          return {
            title: 'alien',
            imgUrl: './images/1.jpg',
            show: true,
          };
        },

        methods: {
          changeImg() {
            const images = ['./images/1.jpg', './images/2.jpg'];
            this.imgUrl = images[Math.floor(Math.random() * images.length)];
          },
        },
      };

      Vue.createApp(App).mount('#app');
    </script>
  </body>
</html>
