<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>notes</title>
    <script src="https://unpkg.com/vue@next"></script>
  </head>
  <body>
    <div class="wrapper">
      <!-- vue start -->

      <div id="app">
        <h1>{{title}}</h1>

        <form @submit.prevent="onSubmit">
          <input
            required
            type="text"
            v-model="input.value"
            :placeholder="input.placeholder"
          />
          <button type="submit">Add new note</button>
        </form>

        <div class="notes">
          <div
            style="
              display: flex;
              align-items: center;
              justify-content: space-between;
            "
            class="note"
            v-for="(note, index) in notes"
            :key="index"
          >
            <p @click="changeInputValue(index)" v-if="input.index !== index">
              {{note}} - index: {{index}}
            </p>

            <form @submit.prevent="updateNote">
              <input
                v-if="input.index === index"
                type="text"
                v-model="input.value"
                :placeholder="input.placeholder"
              />
            </form>
            <span @click="remove(index)">&#10005;</span>
          </div>
        </div>
      </div>

      <!-- vue end -->
    </div>
    <script src="./app.js"></script>
  </body>
</html>
